@import "../../styles/mixins";
@import "../../styles/variables";

.carousel{
    padding: 1rem 1rem;

    .carouselCard{
        position: relative;
        background-color:$very-pale-red;
        // width: 10vw;
        padding: 1rem 1rem;
        margin: 0 0.5rem 0 0.5rem;

        img{
            position: absolute;
            top: 0.5rem;
            width: 5rem;
            height: 5rem;
        }
    }
}