@import "../../styles/mixins";
@import "../../styles/variables";

.carousel{
    position: relative;
    padding: 1rem 1rem;

    h1{
        margin: 1.5rem 0;
        color: $Dark-blue;
    }

    .carouselCard{
        position: relative;
        background-color:$very-light-gray;
       height: 15rem;
       padding: 5rem 2rem;
       border: 1rem solid $very-light-gray;
        img{
            position: absolute;
            top: 0.2rem;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 5rem;
            height: 5rem;
        }
    }

    button{
        position: absolute;
        left: 50%;
        bottom: -30%;
        transform: translate(-50%,-50%);
    }
    
}