@import "../../styles/mixins";
@import "../../styles/variables";

.carousel{
    padding: 1rem 1rem;

    div{
        position: relative;
        background-color:$Dark-Grayish-Blue;
        width: 2rem;
    }
}