.cta{
    background-image: url("../../public/images/bg-tablet-pattern.svg" );
    background-repeat: no-repeat;
    padding: 2rem 2rem;

    .con{
        display: flex;
        justify-content: space-evenly;

        .first{
            padding: 0 5rem 0 1rem;
        }


    }

    
        
}

