.cta{
    // background-image: url("../../public/images/bg-tablet-pattern.svg" );
    // background-repeat: no-repeat;
    padding: 2rem 2rem;

    .con{
        display: flex;
        justify-content: space-evenly;

        .first{
            padding: 0 5rem 0 1rem;

            h2{
                margin: 0.2rem 0;
            }
            p{
                margin: 0.2rem 0;
                opacity: 0.7;
            }
            button{
                margin: 0.2rem 0;
            }
           
        }


    }   
}

@media screen and (max-width:650px) {
    .cta{
        padding: 1rem 0.5rem;
    
        .con{
            display: flex;
            justify-content: center;
            flex-flow: column-reverse wrap;
            align-items:flex-start;

    
            .first{
                position: relative;
                padding: 1rem 1rem 0 3rem;

                button{
                    position: absolute;
                    
                    right: 7rem;
                }
            }
        }   
    }
    
}

