@import '../../styles/variables';
@import '../../styles/mixins';

.NavbarItems{
    background:$very-light-gray;
    height: 80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

    .navbarlogo{
        justify-self: start;
        cursor: pointer;
        text-decoration: none;
    }

    .menuicon{
        display: none;
    }

    .navmenu{
        display: grid;
        grid-template-columns: repeat(5, auto);
        grid-gap: 5px;
        list-style: none;
        text-align: center;
        width: 60vw;
        justify-content:end;
        margin-right: 2rem;

        .navlinks{
            color:#312F2F;
            text-decoration: none;
            padding: 0.5rem 1rem;

            &:hover{
                background-color: $Bright-red;
                border-radius: 4px;
                color: $very-light-gray;
                transition: all 0.2s ease-out;
                                                            }
        }
    }

    .button{
        padding: 1rem 2rem;
        border-radius: 5rem;
        color: $very-light-gray;
        background-color: $Bright-red
    }



}



@media screen and (max-width:650px){
    .NavbarItems{
        position: relative;

        .navbarlogo{
            position: absolute;
            top: 0.8rem;
            left: 0;
            transform:translate(25%,50%)
        }

        .menuicon{
             display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translate(-100%, 60%);
            font-size: 1.8rem;
            cursor: pointer;

        }

        .navmenu{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 500px;
            position: absolute;
            top: 80px;
            left: -100%;
            opacity: 1;
            transition: all 0.5s ease;

            &.active{     
                background: #FEFCFB;
                left: 0;
                opacity: 1;
                transition: all 0.5s ease;
                z-index: 1;
            }

            .navlinks{
                text-align: center;
                padding: 2rem;
                width: 100%;
                display: table;
                &:hover{
                    background-color:#1282A2 ;
                    color: #FEFCFB;
                    border-radius: 0;
                }
            }
        }

        .button{
            display: none;
        }
    }
}
