@import "../../styles/mixins";
@import "../../styles/variables";

.startdiv{
    @include setFlex(row,space-between,flex-start);
    background-color:$Bright-red ;
    padding: 2rem 5rem;
    margin-top: 5rem;

    @media screen and (max-width:650px) {
        @include setFlex(column,space-between,flex-start);
        padding: 4rem 4rem;
        row-gap: 1rem;
        
    }

    h1{
        color: $very-light-gray;
    }

    button{
        background-color: $very-light-gray;
        color: $Bright-red;
        font-weight: bold;
    }
    
}
