@import "../../styles/mixins";
@import "../../styles/variables";

.footer{
    // height: 20vh;
    display: flex;
    justify-content:space-evenly;
    background-color:$very-Dark-blue;
    color: $very-light-gray;

    .firstRow{
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;

        
        .icon{
            display: flex;
            flex-direction: column-reverse;
           
        }

    }
    .secondRow{
        display: flex;
        grid-gap: 1rem;

    }
    .thirdRow{

    }
}