@import "../../styles/mixins";
@import "../../styles/variables";

.footer{
    // height: 20vh;
    display: flex;
    justify-content:space-evenly;
    background-color:$very-Dark-blue;
    color: $very-light-gray;
}