.track{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem;

    .left{
        p{
            padding: 0 5rem 0 0;
            opacity: 0.7;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        .side{
            display: flex;
            row-gap: 1rem;
        }
    }
    
}